button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  margin-bottom: 4rem;
  padding: .5rem 2.25rem;
  background-color: var(--color-elements);
  color: var(--color-text);
  font-family: inherit;
  font-size: var(--details-font-size);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 10%);
  cursor: pointer;
}

button img {
  height: 15px;
  display: block;
  filter: invert(var(--invert));
}