<div class="container">
  <shared-back-button></shared-back-button>
  <div class="alert" *ngIf="isLoading">Loading country...</div>
  <div class="country-container" *ngIf="country">
    <img [src]="country.flags.svg" [alt]="country.flags.alt" />
    <div>
      <h2>{{ country.name.common }}</h2>
      <ul class="country-data">
        <div>
          <li>
            <span class="country-data-title">Native Name: </span>
            <span
              *ngFor="
                let name of country.name.nativeName | keyvalue;
                last as isLast
              "
              >{{ name.value.common | display : isLast }}
            </span>
          </li>
          <li>
            <span class="country-data-title">Population: </span
            >{{ country.population | number }}
          </li>
          <li>
            <span class="country-data-title">Region: </span>{{ country.region }}
          </li>
          <li>
            <span class="country-data-title">Sub Region: </span
            >{{ country.subregion }}
          </li>
          <li>
            <span class="country-data-title">Capital: </span>
            <span
              *ngFor="
                let capital of country.capital
                last as isLast
              "
              >{{ capital | display : isLast }}
            </span>
          </li>
        </div>
        <div>
          <li>
            <span class="country-data-title">Top Level Domain: </span>
            <span *ngFor="let domain of country.tld; last as isLast"
              >{{ domain | display : isLast }}
            </span>
          </li>
          <li>
            <span class="country-data-title">Currencies: </span>
            <span
              *ngFor="
                let currency of country.currencies | keyvalue;
                last as isLast
              "
              >{{ currency.value.name | display : isLast }}
            </span>
          </li>
          <li>
            <span class="country-data-title">Languages: </span>
            <span
              *ngFor="
                let language of country.languages | keyvalue;
                last as isLast
              "
              >{{ language.value | display : isLast }}
            </span>
          </li>
        </div>
      </ul>
      <div
        class="country-borders"
        *ngIf="borderCountries && borderCountries.length > 0 && !isLoading"
      >
        <p class="country-data-title">Border Countries:</p>
        <div class="country-borders-container">
          <button
            class="country-borders-tag"
            *ngFor="let country of borderCountries"
            [routerLink]="['/countries', country.code]"
          >
            {{ country.name }}
        </button>
        </div>
      </div>
    </div>
  </div>
</div>
