.container {
  margin: 4rem;
  display: flex;
  flex-direction: column;
}

.alert {
  align-self: center;
  font-size: 2rem;
  background-color: var(--color-elements);
  color: var(color-text);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  max-width: fit-content;
  padding: 1rem 2rem;
}

.country-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.country-container img {
  max-width: 525px;
  object-fit: cover;
  display: block;
}

h2 {
  font-size: 2rem;
}

.country-data {
  display: flex;
  gap: 5rem;
  list-style: none;
  padding-left: 0;
  font-size: var(--details-font-size);
}

.country-data li {
  margin-block: .75rem;
}

.country-data-title {
  font-weight: var(--medium-font-weight);
}

.country-borders {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.country-borders p {
  margin-block: 0;
}

.country-borders-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.country-borders-tag {
  text-align: center;
  min-width: 90px;
  padding: .25rem 1rem;
  background-color: var(--color-elements);
  color: var(--color-text);
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
  cursor: pointer;
}