.container {
  margin: 4rem;

}

.country-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.country-container img {
  max-width: 525px;
  object-fit: cover;
  display: block;
}

h2 {
  font-size: 2rem;
}

.country-data {
  display: flex;
  gap: 5rem;
  list-style: none;
  padding-left: 0;
  font-size: var(--details-font-size);
}

.country-data li {
  margin-block: .75rem;
}

.country-data-title {
  font-weight: var(--medium-font-weight);
}