.dropdown-container {
  position: relative;
}

.dropdown,
.dropdown-toggle,
.dropdown li,
.dropdown label,
.dropdown input {
  cursor: pointer;
}

.dropdown,
.dropdown-toggle {
  background-color: var(--color-elements);
  color: var(--color-text);
  font-family: inherit;
  font-size: var(--items-font-size);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.dropdown-toggle img {
  display: block;
  height: 15px;
  filter: invert(var(--invert));
}

.dropdown {
  padding: 0.5rem 0;
  margin-block: .25rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.dropdown li,
.dropdown input {
  list-style: none;
}

.dropdown li {
  margin-block: 0;
  padding: .25rem 1.5rem;
}

.dropdown input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
}

.active,
.dropdown li:hover {
  background-color: var(--color-text);
  color: var(--color-elements);
}

.expanded {
  display: block;
}
