<div class="card-container" (keydown.enter)="navigateCard()" [routerLink]="['countries/', country.cca3]">
  <img [src]="country.flags.svg" alt="Country flag" />
  <div class="country-info">
    <p class="country-name">{{ country.name.common }}</p>
    <p class="country-data-point">
      <span class="country-accented">Population: </span
      >{{ country.population | number }}
    </p>
    <p class="country-data-point">
      <span class="country-accented">Region: </span>{{ country.region }}
    </p>
    <p class="country-data-point">
      <span class="country-accented">Capital: </span
      ><span *ngFor="let capital of country.capital; last as isLast">{{
        capital | display : isLast
      }}</span>
    </p>
  </div>
</div>
