.search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 4rem;
}

.alert-container {
  display: flex;
  justify-content: center;
}

.alert {
  margin: 10rem auto;
  font-size: 2rem;
  background-color: var(--color-elements);
  color: var(color-text);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  max-width: fit-content;
  padding: 1rem 2rem;
}

.card-container {
  margin: 3rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  justify-content: center;
  gap: 4rem;
}